// /* Анимация пузырьков */

@keyframes move-bubble-1 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-10px, 10px);
    }
}


@keyframes move-bubble-2 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-15px, -15px);
    }
}


@keyframes move-bubble-3 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-10px, -30px);
    }
}

@keyframes move-bubble-4 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-10px, 0);
    }
}

@keyframes move-bubble-5 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 20from);
    }
}

@keyframes move-bubble-6 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -20px);
    }
}

@keyframes move-bubble-7 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(5px, -10px);
    }
}

@keyframes move-bubble-8 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(10px, 15px);
    }
}

@keyframes move-bubble-9 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-20px, 0);
    }
}

@keyframes move-bubble-10 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-10px, 10px);
    }
}

@keyframes move-bubble-11 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(20px, -20px);
    }
}

@keyframes move-bubble-12 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(30px, 30px);
    }
}
