@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';
@import 'foundation.scss';
@import 'basic.scss';

@import 'grid.scss';

@import 'modal.scss';

@import 'blocks/header.scss';
@import 'blocks/footer.scss';


/* Главный экран */
.main {
	color: $white;

	&__title {
		margin-top: 50px;

		&-head,
		&-subhead {
			font-size: 3.75rem;
		}
	}

	&__text {
		margin-bottom: 40px;
		font-family: 'Gotham Pro Light';
		font-size: 1.25rem;
		line-height: 2em;
	}


	&__right {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}
}


/* Раздел 'Преимущества' */
.advantages {
	position: relative;
	margin-top: 140px;

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 180px;
	}

	&__item {
		position: relative;
		border: 1px solid rgba(0,0,0,.08);
		border-radius: 10px;
		padding: 25px;
		background-color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		/* &:hover &-number{
			padding-bottom: 10px;
		} */

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-number {
			position: absolute;
			z-index: -1;
			right: -18px;
			display: block;
			bottom: calc(100% - 50px);
			transition-duration: 0.3s;
			transition-timing-function: ease-in;
			transition-property: padding-bottom;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}
	}
}


/* Раздел 'Услуги' */
.services {
	margin-top: -120px;
	margin-bottom: 380px;
	padding-top: 152px;

	&__inner {
		position: relative;
		top: 200px;
	}

	&__title {
		margin-bottom: 100px;
		color: $white;

		&-head,
		&-subhead {
			font-size: 3.125rem;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 60px;
		border: 1px solid rgba(0,0,0,.08);
		border-radius: 10px;
		padding: 40px 50px;
		background-color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}

		&-text {
			opacity: .8;
		}
	}
}


/* Раздел 'Шаги к идеальному дизайну' */
.steps {
	margin-top: 140px;

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 180px;

		&-line {
			margin-bottom: 2.6rem;
			width: 25%;
		}

		&-caption {
			width: 21%;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 120px;
		border-radius: 10px;
		padding: 30px 40px;
		background: linear-gradient(to bottom, $orange, $yellow);
		color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		/* &:hover &-number {
			padding-bottom: 10px;
		} */

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-number {
			position: absolute;
			z-index: -1;
			right: -18px;
			display: block;
			bottom: calc(100% - 50px);
			transition-duration: 0.3s;
			transition-timing-function: ease-in;
			transition-property: padding-bottom;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}

		&-text {
			opacity: .8;
		}
	}
}


/* Раздел 'Презентация' */
.presentation {
	position: relative;
	margin-top: -150px;
	margin-bottom: 30px;
	padding-top: 170px;
	padding-bottom: 280px;
	color: $white;

	&__title {

		&-head,
		&-subhead {
			font-size: 3.125rem;
		}
	}

	&__text {
		font-size: 1.1111rem;
	}

	&__btn {
		margin-top: 50px;
	}

	&__photo-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		//margin-top: -15px;
		margin-left: -49px;
	}

	&__manager {
		margin-top: 80px;
		margin-right: 50px;
		text-align: right;

		&-name {
			margin-bottom: 10px;
			font-family: 'Gotham Pro Medium';
			letter-spacing: .3em;
			text-transform: uppercase;
		}

		&-surname {
			margin-right: -0.3rem; // NOTE: по просьбе дизайнера, чтобы текст вровень был
			color: $orange;
		}

		&-desc {
			opacity: .8;
		}
	}
}


/* Раздел 'Контакты' */
.contacts {

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 160px;

		&-number {
			margin-right: 20px;
			margin-left: -35px;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 100px;
		padding-left: 30px;

		&:before {
			position: absolute;
			top: -10px;
			left: 0;
			width: 10px;
			height: 80px;
			background: linear-gradient(to right, $yellow, $orange);
			content: '';
		}

		&--download:before {
			top: -7px;
			height: 100px;
		}

		&--feedback:before {
			top: -15px;
		}

		&-head {
			margin-bottom: 10px;
			font-family: 'Gotham Pro Bold';
			font-size: 1.2222rem;
			text-transform: uppercase;
		}

		&-text,
		&-link {
			font-size: 1.111rem;
		}

		&-link {
			display: block;
			text-decoration: underline;
		}
	}

	&__feedback {
		margin-top: 40px;

		&-input {
			margin-bottom: 35px;
		}

		&-btn {
			margin-bottom: 30px;
			width: 290px;
		}

		&-agreement {
			display: flex;
			align-items: flex-start;
			font-size: .7777rem;
			line-height: 1.5em;

			.checkbox {
				margin-right: 15px;
			}
		}
	}
}


/* Пузырьки */
.bubble {
	position: absolute;
	border-radius: 100%;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 2s;

	&__container {
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 1170px;

		&--main {
			top: 95%;
		}
	}

	&_1 {
		top: 185px;
    right: -50px;
		z-index: 100;
		height: 100px;
		width: 100px;
		@include bubble-gradient(to right);
		box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-1;
	}

	&_2 {
		top: 265px;
  	right: 425px;
		height: 20px;
		width: 20px;
		@include bubble-gradient(to bottom);
		box-shadow: 0 0 20px 0 rgba(0,0,0, 0.1);
		animation-name: move-bubble-2;
	}

	&_3 {
		right: 220px;
		bottom: 20px;
		z-index: 4;
		height: 250px;
		width: 250px;
		@include bubble-gradient(to left);
		filter: blur(10px);
		box-shadow: 3px 0 10px 0 $bubble-color-start,
					-3px 0 10px 0 $bubble-color-end;
		animation-name: move-bubble-3;
		animation-duration: 3s;
	}

	&_4 {
		left: -60px;
    bottom: 135px;
		height: 15px;
		width: 15px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-4;
	}

	&_5 {
		left: -50px;
		bottom: 200px;
		height: 20px;
		width: 20px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-5;
	}

	&_6 {
		right: 70px;
		bottom: -200px;
		height: 120px;
		width: 120px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 30px 0 rgba(0,0,0, 0.3);
		animation-name: move-bubble-6;
		animation-duration: 3s;
	}

	&_7 {
		right: 440px;
		bottom: -270px;
		height: 30px;
		width: 30px;
		@include bubble-gradient(to left);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-7;
		animation-duration: 1s;
	}

	&_8 {
		right: -50px;
		bottom: -300px;
		height: 40px;
		width: 40px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-8;
	}

	&_9 {
		top: 620px;
		left: -460px;
		height: 300px;
		width: 300px;
		@include bubble-gradient(to bottom);
		filter: blur(10px);
		box-shadow: 0 -10px 10px 0 $bubble-color-start,
					0 5px 10px 0 $bubble-color-end;
		animation-name: move-bubble-9;
		animation-duration: 4s;
	}

	&_10 {
		top: -90px;
    right: -20px;
		height: 20px;
		width: 20px;
		@include bubble-gradient(to left);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-10;
		animation-duration: 1s;
	}

	&_11 {
		top: -150px;
    right: -400px;
		height: 90px;
		width: 90px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 30px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-11;
		animation-duration: 4s;
	}

	&_12 {
		bottom: -300px;
    right: -50px;
		height: 250px;
		width: 250px;
		@include bubble-gradient(to bottom);
		filter: blur(10px);
		box-shadow: 0 -10px 10px 0 $bubble-color-start,
					0 5px 10px 0 $bubble-color-end;
		animation-name: move-bubble-12;
		animation-duration: 5s;
	}
}


/* Секции страницы */
/* .section {
	.section__title-number img {
		transition-duration: 1s;
		transition-timing-function: ease;
		transition-property: transform;
	}

	&:hover .section__title-number img {
		transform: rotateY(360deg);
	}
} */


/* Блок с загрузочным изображением */
.block-loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 102;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: white;

	&_hide {
		animation-name: hide;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	&__picture {
		width: 150px;
		height: 150px;
		background-image: url('../../img/logo.svg');
		background-size: cover;
	}
}


/* Всплывающая подсказка */
.tooltip {
	position: absolute;
	top: -45px;
	left: 20px;
	opacity: 0;
	visibility: hidden;

	.tooltip__container {
		padding: 2px 10px;
		width: 150px;
		border-radius: 6px;
		background: $orange linear-gradient(to left, $orange, $yellow);
	}

	.tooltip__text {
		font-size: 0.9rem;
		color: #fff;
	}

	.tooltip__triangle {
		position: relative;
		left: 10px;
		width: 10px;
		border: 5px solid transparent;
		border-top: 8px solid $yellow;
	}
}
