@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';
@import 'foundation.scss';
@import 'basic.scss';

@import 'grid.scss';

@import 'blocks/header.scss';
@import 'blocks/footer.scss';


// TODO: подумать что делать с планетами
.planets { display: none; }


/* Главный экран */
.main {
	background-image: url(../../img/main-display-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;

	&__title {
		margin-top: 50px;

		&-head,
		&-subhead {
			font-size: 3.75rem;
		}
	}

	&__text {
		margin-bottom: 40px;
		font-family: 'Gotham Pro Light';
		font-size: 1.25rem;
		line-height: 2em;
	}


	&__right {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}


	&__img-phone {
		position: relative;
		z-index: 101;
	}
}


/* Раздел "Преимущества" */
.advantages {
	margin-top: 140px;

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 180px;
	}

	&__item {
		position: relative;
		border: 1px solid rgba(0,0,0,.08);
		border-radius: 10px;
		padding: 25px;
		background-color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		&:hover &-number{
			padding-bottom: 10px;
		}

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-number {
			position: absolute;
			z-index: -1;
			right: -18px;
			display: block;
			bottom: calc(100% - 50px);
			transition-duration: 0.3s;
			transition-timing-function: ease-in;
			transition-property: padding-bottom;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}
	}
}


/* Раздел "Услуги" */
.services {
	margin-top: -120px;
	margin-bottom: 380px;
	padding-top: 152px;
	background-image: url(../../img/services-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__inner {
		position: relative;
		top: 200px;
	}

	&__title {
		margin-bottom: 100px;
		color: $white;

		&-head,
		&-subhead {
			font-size: 3.125rem;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 60px;
		border: 1px solid rgba(0,0,0,.08);
		border-radius: 10px;
		padding: 40px 50px;
		background-color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}

		&-text {
			opacity: .8;
		}
	}
}


/* Раздел "Шаги к идеальному дизайну" */
.steps {
	margin-top: 140px;

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 180px;

		&-line {
			margin-bottom: 2.6rem;
			width: 25%;
		}

		&-caption {
			width: 21%;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 120px;
		border-radius: 10px;
		padding: 30px 40px;
		background: linear-gradient(to bottom, $orange, $yellow);
		color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		&:hover &-number {
			padding-bottom: 10px;
		}

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-number {
			position: absolute;
			z-index: -1;
			right: -18px;
			display: block;
			bottom: calc(100% - 50px);
			transition-duration: 0.3s;
			transition-timing-function: ease-in;
			transition-property: padding-bottom;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}

		&-text {
			opacity: .8;
		}
	}
}


/* Раздел "Презентация" */
.presentation {
	position: relative;
	margin-top: -150px;
	margin-bottom: 30px;
	padding-top: 170px;
	padding-bottom: 320px;
	background-image: url(../../img/presentation-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;

	&__title {

		&-head,
		&-subhead {
			font-size: 3.125rem;
		}
	}

	&__text {
		font-size: 1.1111rem;
	}

	&__btn {
		margin-top: 50px;
	}

	&__manager {
		margin-top: 80px;
		margin-right: 50px;
		text-align: right;

		&-name {
			margin-bottom: 10px;
			font-family: 'Gotham Pro Medium';
			letter-spacing: .3em;
			text-transform: uppercase;
		}

		&-surname {
			margin-right: -0.3rem; // NOTE: по просьбе дизайнера, чтобы текст вровень был
			color: $orange;
		}

		&-desc {
			opacity: .8;
		}
	}
}


/* Раздел "Контакты" */
.contacts {

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 160px;

		&-number {
			margin-right: 20px;
			margin-left: -35px;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 100px;
		padding-left: 30px;

		&:before {
			position: absolute;
			top: -10px;
			left: 0;
			width: 10px;
			height: 80px;
			background: linear-gradient(to right, $yellow, $orange);
			content: "";
		}

		&--download:before {
			top: -7px;
			height: 100px;
		}

		&--feedback:before {
			top: -15px;
		}

		&-head {
			margin-bottom: 10px;
			font-family: 'Gotham Pro Bold';
			font-size: 1.2222rem;
			text-transform: uppercase;
		}

		&-text,
		&-link {
			font-size: 1.111rem;
		}

		&-link {
			display: block;
			text-decoration: underline;
		}
	}

	&__feedback {
		margin-top: 40px;

		&-input {
			margin-bottom: 35px;
		}

		&-btn {
			margin-bottom: 30px;
			width: 290px;
		}

		&-agreement {
			display: flex;
			align-items: flex-start;
			font-size: .7777rem;
			line-height: 1.5em;

			.checkbox {
				margin-right: 15px;
			}
		}
	}
}


/* Пузырьки */
.bubble {
	position: absolute;
	border-radius: 100%;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 2s;

	&_1 {
		z-index: 100;
		height: 100px;
		width: 100px;
		@include bubble-gradient(to right);
		box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-1;
	}

	&_2 {
		height: 20px;
		width: 20px;
		@include bubble-gradient(to bottom);
		box-shadow: 0 0 20px 0 rgba(0,0,0, 0.1);
		animation-name: move-bubble-2;
	}

	&_3 {
		z-index: 102;
		height: 160px;
		width: 160px;
		@include bubble-gradient(to left);
		box-shadow: 3px 0 10px 0 $bubble-color-start,
					-3px 0 10px 0 $bubble-color-end;
		animation-name: move-bubble-3;
	}

	&_4 {
		height: 15px;
		width: 15px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-4;
	}

	&_5 {
		height: 20px;
		width: 20px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-5;
	}

	&_6 {
		height: 120px;
		width: 120px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 30px 0 rgba(0,0,0, 0.3);
		animation-name: move-bubble-6;
	}

	&_7 {
		height: 30px;
		width: 30px;
		@include bubble-gradient(to left);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-7;
		animation-duration: 1s;
	}

	&_8 {
		height: 40px;
		width: 40px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-8;
		animation-duration: 1s;
	}

	&_9 {
		height: 250px;
		width: 250px;
		@include bubble-gradient(to bottom);
		box-shadow: 0 -10px 10px 0 $bubble-color-start,
					0 5px 10px 0 $bubble-color-end;
		animation-name: move-bubble-9;
	}

	&_10 {
		height: 20px;
		width: 20px;
		@include bubble-gradient(to left);
		box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-10;
	}

	&_11 {
		height: 90px;
		width: 90px;
		@include bubble-gradient(to right);
		box-shadow: 0 0 30px 0 rgba(0,0,0, 0.2);
		animation-name: move-bubble-11;
	}

	&_12 {
		height: 200px;
		width: 200px;
		@include bubble-gradient(to bottom);
		box-shadow: 0 -10px 10px 0 $bubble-color-start,
					0 5px 10px 0 $bubble-color-end;
		animation-name: move-bubble-12;
	}
}


/* Секции страницы */
.section {
	.section__title-number img {
		transition-duration: 1s;
		transition-timing-function: ease;
		transition-property: transform;
	}

	&:hover .section__title-number img {
		transform: rotateY(360deg);
	}
}


/* Блок с загрузочным изображением */
.block-loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 102;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: white;

	&_hide {
		animation-name: hide;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	&__picture {
		width: 150px;
		height: 150px;
		background-image: url("../../img/logo.svg");
		background-size: cover;
	}
}


.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	border: 2px solid #ccc;
	border-radius: 100%;
	cursor: pointer;

	&_active &__point {
		visibility: visible;
	}

	&:active {
		border-color: #777;
	}

	&__point {
		width: 50%;
		height: 50%;
		border-radius: 100%;
		border: 1px solid $orange;
		background-color: $orange;
		visibility: hidden;
	}
}
