@import 'variables.scss';
@import 'foundation.scss';
@import 'basic.scss';

@import 'grid.scss';


@import 'blocks/header.scss';


/* Главный экран */
.main {
	background-image: url(../../img/main-display-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;

	&__title {
		margin-top: 50px;

		&-head,
		&-subhead {
			font-size: 3.75rem;
		}
	}

	&__text {
		margin-bottom: 40px;
		font-family: 'Gotham Pro Light'; 
		font-size: 1.25rem;
		line-height: 2em;
	}


	&__right {
		display: flex;
		justify-content: flex-end;
	}
}


/* Раздел "Преимущества" */
.advantages {
	margin-top: 140px;

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 180px;
	}

	&__item {
		position: relative;
		border: 1px solid rgba(0,0,0,.08);
		border-radius: 10px;
		padding: 25px;
		background-color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-number {
			position: absolute;
			z-index: -1;
			right: -18px;
			display: block;
			bottom: calc(100% - 50px);
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}
	}
}


/* Раздел "Услуги" */
.services {
	margin-top: -120px;
	margin-bottom: 380px;
	padding-top: 152px;
	background-image: url(../../img/services-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__inner {
		position: relative;
		top: 200px;
	}

	&__title {
		margin-bottom: 100px;
		color: $white;

		&-head,
		&-subhead {
			font-size: 3.125rem;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 60px;
		border: 1px solid rgba(0,0,0,.08);
		border-radius: 10px;
		padding: 40px 50px;
		background-color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}

		&-text {
			opacity: .8;
		}
	}
}


/* Раздел "Шаги к идеальному дизайну" */
.steps {
	margin-top: 140px;

	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 180px;

		&-line {
			margin-bottom: 2.6rem;
			width: 25%;
		}

		&-caption {
			width: 21%;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 120px;
		border-radius: 10px;
		padding: 30px 40px;
		background: linear-gradient(to bottom, $orange, $yellow);
		color: $white;
		box-shadow: -5px 20px 40px rgba(0,0,0,.15);

		&-wrap {
			display: flex;
			align-items: stretch;
		}

		&-number {
			position: absolute;
			z-index: -1;
			right: -18px;
			display: block;
			bottom: calc(100% - 50px);
		}

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
		}

		&-text {
			opacity: .8;
		}
	}
}