/* Вертикальные полоски */
.back-layout {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: repeating-linear-gradient(90deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 14.2857%);
}

// Перемещение элементов разделов на передний план
.section > *,
.footer > * {
	z-index: 2;
}

.page-wrapper {
	overflow: hidden;
}


/* Разделы */
.section {
	position: relative;

	&__bg {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
	}
	
	&__title {
		margin-bottom: 30px;

		&-head,
		&-subhead {
			font-size: 2rem;
			line-height: 1.3em;
			text-transform: uppercase;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
		}

		&-number {
			margin-bottom: -35px;
			margin-left: -20px;
		}

		&-head-wrap {
			margin-right: 10px;
			width: 40%;
		}

		&-line {
			margin-right: 15px;
			margin-bottom: 2rem;
			width: 29%;
			height: 1px;
			background-color: rgba(0,0,0,.1);
		}

		&-caption {
			margin-bottom: 1.5rem;
			width: 20%;
			font-family: 'Gotham Pro Medium';
			line-height: 1.3125em;
			letter-spacing: .3em;
			text-align: right;
		}
	}
}



/* Кнопки */
.btn {
	position: relative;
	top: 0;
	display: inline-block;
	padding: 24px 42px;
	min-height: 64px;
	color: $white;
	font-family: 'Gotham Pro Medium';
	font-size: 1rem;
	line-height: 1em;
	text-align: center;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 10px;
		background: linear-gradient(to bottom, $yellow, $orange);
		box-shadow: 0 5px 0 0 $darkOrange;
		content: "";
	}

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 10px;
		background-color: rgba(0,0,0,.1);
		opacity: 0;
		transition: all .3s ease;
		content: "";
	}

	&:hover:after {
		opacity: 1;
	}

	&:active {
		top: 5px;

		&:before {
			box-shadow: 0 2px 0 0 $darkOrange;
		}
	}
}


/* Чекбокс */
[type="checkbox"] {
	display: none;

	& + .checkbox {
		position: relative;
		border: 2px solid #ccc;
		border-radius: 100%;
		width: 16px;
		height: 16px;
		cursor: pointer;

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
			width: 50%;
			height: 50%;
			background-color: $orange;
			visibility: hidden;
			content: "";
		}
	}

	&:checked + .checkbox {
		//border-color: #777;

		&:before {
			visibility: visible;
		}
	}
}


/* Анимация */

/* Появление элементов при скроллинге */
.wp {
	opacity: 0;
	transition: all 1s ease;

	// Режимы задержки
	@for $i from 1 through 4 {
	  &__delay-#{$i} {
	  	transition-delay: 1s * $i / 2;
	  }
	}
	
	// Направление (с какой стороны появится)
	&__left {
		transform: translateX(-30px);
	}
	&__right {
		transform: translateX(30px);
	}
	&__top {
		transform: translateY(-30px);
	}
	&__bottom {
		transform: translateY(30px);
	}

	&--active {
		transform: translateX(0);
		opacity: 1;
	}
}


/* Пульсация */
@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: .5;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}