/* Вертикальные полоски */
.back-layout {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: repeating-linear-gradient(90deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 14.2857%);
}

// Перемещение элементов разделов на передний план
.section > *,
.footer > * {
	z-index: 2;
}

.page-wrapper {
	overflow: hidden;
}


/* Разделы */
.section {
	position: relative;
	
	&__title {
		margin-bottom: 30px;

		&-head,
		&-subhead {
			font-size: 2rem;
			line-height: 1.3em;
			text-transform: uppercase;
		}

		&-head {
			font-family: 'Gotham Pro Bold';
		}

		&-number {
			margin-bottom: -35px;
			margin-left: -20px;
		}

		&-head-wrap {
			margin-right: 10px;
			width: 40%;
		}

		&-line {
			margin-right: 15px;
			margin-bottom: 2rem;
			width: 29%;
			height: 1px;
			background-color: rgba(0,0,0,.1);
		}

		&-caption {
			margin-bottom: 1.5rem;
			width: 20%;
			font-family: 'Gotham Pro Medium';
			line-height: 1.3125em;
			letter-spacing: .3em;
			text-align: right;
		}
	}
}



/* Кнопки */
.btn {
	position: relative;
	top: 0;
	display: inline-block;
	padding: 24px 42px;
	color: $white;
	font-family: 'Gotham Pro Medium';
	font-size: 1rem;
	line-height: 1em;
	text-align: center;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 10px;
		background: linear-gradient(to bottom, $yellow, $orange);
		box-shadow: 0 5px 0 0 $darkOrange;
		content: "";
	}

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 10px;
		background-color: rgba(0,0,0,.1);
		opacity: 0;
		transition: all .3s ease;
		content: "";
	}

	&:hover:after {
		opacity: 1;
	}

	&:focus,
	&:active {
		top: 5px;

		&:before {
			box-shadow: none;
		}
	}
}


/* Анимация */
@keyframes rotate {
	from {
		transform: rotate(0);
		transform-origin: center center;
	}

	to {
		transform: rotate(360deg);
		transform-origin: center center;
	}
}

@keyframes inv-rotate {
	from {
		transform: rotate(0);
		transform-origin: center center;
	}

	to {
		transform: rotate(-360deg);
		transform-origin: center center;
	}
}