// Фиксация прокрутки при открытии модального окна
.fixed {
	overflow: hidden;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0,0,0,.6);
	color: $white;

	&--little {
		background-image: url('../../img/feedback-small-bg.jpg');
	}

	.wrapper {
		height: 100vh;
	}

	&__inner {
		padding: 100px 60px;

		.contacts__feedback {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-input {
				background-color: transparent;
				border-color: #777;

				&:focus {
					border-color: $orange;
				}

				&::placeholder {
					color: #fff;
				}
			}

			&-btn {
				z-index: 1;
			}
		}
	}

	&__close {
		position: absolute;
		right: 45px;
		top: 30px;
		color: white;
		font-size: 2rem;
		cursor: pointer;
	}

	&__title {
		margin-bottom: 30px;

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 2.5rem;
		}
	}

	&__text {
		line-height: 1.7em;
		text-align: center;
	}
}

.block-feedback {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	opacity: 0;

	&_little {
		.block-feedback__content {
			width: 500px;
			background-image: url('../../img/feedback-small-bg.jpg');
		}

		.block-feedback__row {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 120px 60px;
		}

		.block-feedback__text-block {
			padding-top: 0;
			padding-left: 0;
		}

		.block-feedback__text-line:first-child {
			padding-top: 0;
		}
	}

	&_show {
		animation-name: show;
		animation-timing-function: linear;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
	}

	&_hide {
		animation-name: hide;
		animation-timing-function: linear;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
	}

	&__text-block {
		padding-left: 100px;
		font-family: 'Gotham Pro Bold';
	}

	&__text-line {
		padding-top: 30px;
		color: white;
		font-size: 3.2rem;
		line-height: 2rem;

		&_orange {
			color: #f3a652;
		}

		&_atom {
			padding-top: 0px;
			font-family: 'Gotham Pro Regular';
			font-size: 1rem;
			line-height: 2rem;
			text-align: center;
			color: #ccc;
		}

		&_big {
			font-size: 3.7rem;
		}

		&_medium {
			font-size: 2.7rem;
		}

		&_small {
			font-size: 2.15rem;
		}

		&_extra {
			font-size: 10rem;
			line-height: 9rem;
			text-shadow: -10px 20px 30px rgba(0,0,0,.15);
		}
	}

	&__shadow {
		position: absolute;
		z-index: 101;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.6;
	}

	&__container {
		position: relative;
		z-index: 102;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: relative;
		width: 1100px;
		//height: 700px;
		background-image: url('../../img/feedback-bg.jpg');
		background-position: center;
		background-size: cover;
		box-shadow: 0 4px 40px 0 rgba(0,0,0,0.4);
	}

	&__button-close {
		position: absolute;
		right: 30px;
		top: 30px;
		color: white;
		font-size: 2rem;
		cursor: pointer;

		&:hover {
			color: $orange;
		}
	}

	&__row {
		position: relative;
		z-index: 104;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	&__column {
		position: relative;
		display: flex;
		width: 50%;

		&_left {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&_right {
			justify-content: center;
			align-items: center;
		}
	}

	.contacts__feedback {
		display: flex;
		flex-direction: column;

		&-input {
			background-color: transparent;
			border-color: #777;

			&:focus {
				border-color: $orange;
			}

			&::placeholder {
				color: #fff;
			}
		}

		&-agreement {
			color: white;
		}
	}
}