// Фиксация прокрутки при открытии модального окна
.fixed {
	overflow: hidden;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0,0,0,.6);
	color: $white;
	opacity: 0;
	visibility: hidden;
	transition: all .2s .2s ease-in;
	
	// Анимация открытия и закрытия
	&--open {
		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
	}

	&--open &__inner {
		opacity: 1;
		transform: scale(1) translateY(0);
		transition-delay: .2s;
	}


	&--little {
		padding: 100px 60px;
		background-image: url(../../img/feedback-small-bg.jpg);
	}

	&--big {
		padding: 150px 60px;
		background-image: url(../../img/feedback-bg.jpg);
	}

	&--big &__title {
		margin-bottom: 0;
		text-align: center;

		&-head {
			font-size: 3.25rem;
			line-height: 1.2em;

			.orange {
				color: #f3a652;
				font-size: 3.8rem;
			}
		}

		&-subhead {
			font-family: 'Gotham Pro Bold';
			font-size: 2.1875rem;
			line-height: 2em;
		}

		&-superhead {
			color: #f3a652;
			font-family: 'Gotham Pro Bold';
			font-size: 10rem;
			line-height: 1em;
			text-shadow: -5px 20px 30px rgba(0,0,0,.2);
		}
	}

	.wrapper {
		height: 100vh;
	}

	&__inner {
		@include background;
		box-shadow: 0 10px 30px rgba(0,0,0,.4);
		opacity: 0;
		transform: scale(.7) translateY(50px);
		transition: all .3s ease-in;

		.contacts__feedback {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-input {
				background-color: transparent;
				border-color: rgba(243,166,82,.3);

				&:focus {
					border-color: $orange;
				}

				&::placeholder {
					color: #fff;
				}
			}

			&-btn {
				z-index: 1;
			}
		}
	}

	&__close {
		position: absolute;
		right: 45px;
		top: 30px;
		color: white;
		font-size: 2rem;
		cursor: pointer;
	}

	&__title {
		margin-bottom: 30px;

		&-head {
			font-family: 'Gotham Pro Bold';
			font-size: 2.5rem;
			text-align: center;
		}
	}

	&__text {
		line-height: 1.7em;
		text-align: center;
	}
}