/* Цвета */
$black: #111;
$white: #fff;
$yellow: #f9ca46;
$orange: #f1995d;
$darkOrange: #9e6430;
$blue: #45a2ec;

$bubble-color-start: rgba(87,196,225,1);
$bubble-color-center: rgba(76,171,235,1);
$bubble-color-end: rgba(39,128,238,1);
