.header {
	padding-top: 70px;
	padding-bottom: 80px;
	color: $white;

	&__brand {
		display: inline-block;
		color: $white;
		font-family: 'Gotham Pro Bold';
		font-size: 1.25rem;

		&-img {
			vertical-align: middle;
			margin-right: 10px;
			width: 75px;
			height: 75px;
			transform: rotate(30deg);
		}
	}

	&__nav {
		&_list {
			display: flex;
			justify-content: center;
			width: 100%;
			text-align: center;

			&-item {
				display: inline-block;
			}

			&-link {
				position: relative;
				float: left;
				margin: 0 25px;
				color: $white;
				font-size: 1.1111rem;

				/* Всплывающая подсказка */
				.tooltip {
					position: absolute;
					top: -35px;
					left: calc(50% - 7px);
					border-radius: 4px;
					padding: 0 20px;
					background: $orange linear-gradient(to left, $orange, $yellow);
					color: $white;
					font-family: 'Gotham Pro Light';
					font-size: 0.75rem;
					line-height: 1.5rem;
					white-space: nowrap;
					opacity: 0;
					visibility: hidden;
					transform: translateY(-10px);
					transition: all .5s ease;

					&:before {
						position: absolute;
						top: 100%;
						left: 7px;
						border: 3px solid transparent;
						border-top: 5px solid $yellow;
						content: "";
					}
				}

				&:hover .tooltip {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}
	}

	&__contacts {
		text-align: right;

		&-phone {
			//margin-bottom: 5px;
			font-family: 'Gotham Pro Medium';
			font-size: 1.1111rem;
		}

		&-feedback {
			display: inline-block;
			border-bottom: 1px dotted $white;
			height: 1.5em;
			color: $white;
			font-family: 'Gotham Pro Light';
			cursor: pointer;
		}
	}
}
