.header {
	padding-top: 70px;
	padding-bottom: 80px;
	color: $white;

	&__brand {
		display: inline-block;
		color: $white;
		font-family: 'Gotham Pro Bold';
		font-size: 1.25rem;

		&-img {
			vertical-align: middle;
			margin-right: 10px;
			width: 75px;
			height: 75px;
			transform: rotate(30deg);
		}
	}

	&__nav {
		&_list {
			display: flex;
			justify-content: center;
			width: 100%;
			text-align: center;

			&-link {
				margin: 0 25px;
				color: $white;
				font-size: 1.1111rem;

				&--disabled {
					position: relative;

					&:hover .tooltip {
						animation-timing-function: ease-in;
						animation-fill-mode: forwards;
						animation-duration: 0.3s;
						animation-name: show;
						visibility: visible;
					}
				}
			}
		}
	}

	&__contacts {
		text-align: right;

		&-phone {
			//margin-bottom: 5px;
			font-family: 'Gotham Pro Medium';
			font-size: 1.1111rem;
		}

		&-feedback {
			display: inline-block;
			border-bottom: 1px dotted $white;
			height: 1.5em;
			color: $white;
			font-family: 'Gotham Pro Light';
			cursor: pointer;
		}
	}
}
