@charset "UTF-8";
/* Цвета */
/* Скрытие элемета */
@keyframes hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Показ элемета */
@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* =========================================================== 
 * Шрифты
 * ===========================================================
 */
@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../../fonts/GothamPro-Light.ttf"); }

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../../fonts/GothamPro.ttf"); }

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../../fonts/GothamPro-Medium.ttf"); }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../../fonts/GothamPro-Bold.ttf"); }

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../../fonts/GothamPro-Black.ttf"); }

/* =========================================================== 
 * Основное
 * ===========================================================
 */
html {
  font-family: 'Gotham Pro Regular';
  font-size: 16px;
  line-height: 26px;
  color: #111; }

body {
  position: relative;
  margin: 0;
  background-color: #fff; }

/* =========================================================== 
 * Списки
 * ===========================================================
 */
ul {
  list-style: none;
  font-size: 0;
  padding: 0; }
  ul li {
    font-size: 1rem; }

/* =========================================================== 
 * Формы
 * ===========================================================
 */
form {
  margin: 0; }

:focus {
  outline: none; }

::placeholder {
  color: #777;
  opacity: .5 !important;
  transition: opacity .3s, visibility .3s; }

:focus::placeholder {
  opacity: 0 !important;
  visibility: hidden; }

button {
  display: inline-block;
  border: 0;
  background: transparent;
  cursor: pointer; }

input {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 290px;
  background: #fff;
  font-family: 'Gotham Pro Regular';
  font-size: 1rem;
  color: #f1995d; }
  input:focus {
    border-color: rgba(0, 0, 0, 0.6); }

/* =========================================================== 
 * Полиграфика
 * ===========================================================
 */
a {
  color: #111;
  text-decoration: none; }

h1,
h2,
h3,
b {
  font-family: 'Gotham Pro Bold'; }

h1, h2, h3 {
  letter-spacing: .05em;
  line-height: 1em;
  margin: 0; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.25rem; }

p {
  margin-top: 1.5625em;
  margin-bottom: 0; }

small {
  font-family: 'Gotham Pro Light'; }

/* =========================================================== 
 * Кастомизация bootstrap
 * ===========================================================
 */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

/* Вертикальные полоски */
.back-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 14.2857%); }

.section > *,
.footer > * {
  z-index: 2; }

/* Разделы */
.section {
  position: relative; }
  .section__title {
    margin-bottom: 30px; }
    .section__title-head, .section__title-subhead {
      font-size: 2rem;
      line-height: 1.3em;
      text-transform: uppercase; }
    .section__title-head {
      font-family: 'Gotham Pro Bold'; }
    .section__title-number {
      margin-bottom: -35px;
      margin-left: -20px; }
    .section__title-head-wrap {
      margin-right: 10px;
      width: 40%; }
    .section__title-line {
      margin-right: 15px;
      margin-bottom: 2rem;
      width: 29%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1); }
    .section__title-caption {
      margin-bottom: 1.5rem;
      width: 20%;
      font-family: 'Gotham Pro Medium';
      line-height: 1.3125em;
      letter-spacing: .3em;
      text-align: right; }

/* Кнопки */
.btn {
  position: relative;
  top: 0;
  display: inline-block;
  padding: 24px 42px;
  color: #fff;
  font-family: 'Gotham Pro Medium';
  font-size: 1rem;
  line-height: 1em;
  text-align: center; }
  .btn:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(to bottom, #f9ca46, #f1995d);
    box-shadow: 0 5px 0 0 #9e6430;
    content: ""; }
  .btn:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all .3s ease;
    content: ""; }
  .btn:hover:after {
    opacity: 1; }
  .btn:focus, .btn:active {
    top: 5px; }
    .btn:focus:before, .btn:active:before {
      box-shadow: none; }

/* Анимация */
@keyframes rotate {
  from {
    transform: rotate(0);
    transform-origin: center center; }
  to {
    transform: rotate(360deg);
    transform-origin: center center; } }

@keyframes inv-rotate {
  from {
    transform: rotate(0);
    transform-origin: center center; }
  to {
    transform: rotate(-360deg);
    transform-origin: center center; } }

* {
  box-sizing: border-box; }

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px; }

.row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -15px; }
  .row.align-items-center {
    align-items: center; }
  .row.justify-content-between {
    justify-content: space-between; }
  .row.justify-content-center {
    justify-content: center; }

.col-1 {
  position: relative;
  padding: 0 1.25%;
  width: 8.33333%; }

.offset-right-1 {
  margin-right: 8.33333%; }

.offset-left-1 {
  margin-left: 8.33333%; }

.col-2 {
  position: relative;
  padding: 0 1.25%;
  width: 16.66667%; }

.offset-right-2 {
  margin-right: 16.66667%; }

.offset-left-2 {
  margin-left: 16.66667%; }

.col-3 {
  position: relative;
  padding: 0 1.25%;
  width: 25.0%; }

.offset-right-3 {
  margin-right: 25.0%; }

.offset-left-3 {
  margin-left: 25.0%; }

.col-4 {
  position: relative;
  padding: 0 1.25%;
  width: 33.33333%; }

.offset-right-4 {
  margin-right: 33.33333%; }

.offset-left-4 {
  margin-left: 33.33333%; }

.col-5 {
  position: relative;
  padding: 0 1.25%;
  width: 41.66666%; }

.offset-right-5 {
  margin-right: 41.66666%; }

.offset-left-5 {
  margin-left: 41.66666%; }

.col-6 {
  position: relative;
  padding: 0 1.25%;
  width: 50.0%; }

.offset-right-6 {
  margin-right: 50.0%; }

.offset-left-6 {
  margin-left: 50.0%; }

.col-7 {
  position: relative;
  padding: 0 1.25%;
  width: 58.33333%; }

.offset-right-7 {
  margin-right: 58.33333%; }

.offset-left-7 {
  margin-left: 58.33333%; }

.col-8 {
  position: relative;
  padding: 0 1.25%;
  width: 66.66666%; }

.offset-right-8 {
  margin-right: 66.66666%; }

.offset-left-8 {
  margin-left: 66.66666%; }

.col-9 {
  position: relative;
  padding: 0 1.25%;
  width: 75.0%; }

.offset-right-9 {
  margin-right: 75.0%; }

.offset-left-9 {
  margin-left: 75.0%; }

.col-10 {
  position: relative;
  padding: 0 1.25%;
  width: 83.33333%; }

.offset-right-10 {
  margin-right: 83.33333%; }

.offset-left-10 {
  margin-left: 83.33333%; }

.col-11 {
  position: relative;
  padding: 0 1.25%;
  width: 91.66666%; }

.offset-right-11 {
  margin-right: 91.66666%; }

.offset-left-11 {
  margin-left: 91.66666%; }

.col-12 {
  position: relative;
  padding: 0 1.25%;
  width: 100.0%; }

.offset-right-12 {
  margin-right: 100.0%; }

.offset-left-12 {
  margin-left: 100.0%; }

.header {
  padding-top: 70px;
  padding-bottom: 80px;
  color: #fff; }
  .header__brand {
    display: inline-block;
    color: #fff;
    font-family: 'Gotham Pro Bold';
    font-size: 1.25rem; }
    .header__brand-img {
      vertical-align: middle;
      margin-right: 10px;
      width: 75px;
      height: 75px;
      transform: rotate(30deg); }
  .header__nav_list {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center; }
    .header__nav_list-link {
      margin: 0 25px;
      color: #fff;
      font-size: 1.1111rem; }
      .header__nav_list-link--disabled {
        position: relative; }
        .header__nav_list-link--disabled:hover .tooltip {
          animation-timing-function: ease-in;
          animation-fill-mode: forwards;
          animation-duration: 0.3s;
          animation-name: show;
          visibility: visible; }
  .header__contacts {
    text-align: right; }
    .header__contacts-phone {
      font-family: 'Gotham Pro Medium';
      font-size: 1.1111rem; }
    .header__contacts-feedback {
      display: inline-block;
      border-bottom: 1px dotted #fff;
      height: 1.5em;
      color: #fff;
      font-family: 'Gotham Pro Light'; }

.footer {
  padding: 70px 0; }
  .footer__inner {
    position: relative;
    display: flex;
    justify-content: space-between; }
  .footer__copyright {
    opacity: .5; }
  .footer__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #45a2ec; }
  .footer__social-link {
    padding: 0 40px;
    text-decoration: underline; }

.planets {
  display: none; }

/* Главный экран */
.main {
  background-image: url(../../img/main-display-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }
  .main__title {
    margin-top: 50px; }
    .main__title-head, .main__title-subhead {
      font-size: 3.75rem; }
  .main__text {
    margin-bottom: 40px;
    font-family: 'Gotham Pro Light';
    font-size: 1.25rem;
    line-height: 2em; }
  .main__right {
    position: relative;
    display: flex;
    justify-content: flex-end; }
  .main__img-phone {
    position: relative;
    z-index: 101; }

/* Раздел "Преимущества" */
.advantages {
  margin-top: 140px; }
  .advantages__title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 180px; }
  .advantages__item {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 25px;
    background-color: #fff;
    box-shadow: -5px 20px 40px rgba(0, 0, 0, 0.15); }
    .advantages__item:hover .advantages__item-number {
      padding-bottom: 10px; }
    .advantages__item-wrap {
      display: flex;
      align-items: stretch; }
    .advantages__item-number {
      position: absolute;
      z-index: -1;
      right: -18px;
      display: block;
      bottom: calc(100% - 50px);
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      transition-property: padding-bottom; }
    .advantages__item-head {
      font-family: 'Gotham Pro Bold';
      font-size: 1.25rem;
      text-transform: uppercase; }

/* Раздел "Услуги" */
.services {
  margin-top: -120px;
  margin-bottom: 380px;
  padding-top: 152px;
  background-image: url(../../img/services-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .services__inner {
    position: relative;
    top: 200px; }
  .services__title {
    margin-bottom: 100px;
    color: #fff; }
    .services__title-head, .services__title-subhead {
      font-size: 3.125rem; }
  .services__item {
    position: relative;
    margin-bottom: 60px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 40px 50px;
    background-color: #fff;
    box-shadow: -5px 20px 40px rgba(0, 0, 0, 0.15); }
    .services__item-wrap {
      display: flex;
      align-items: stretch; }
    .services__item-head {
      font-family: 'Gotham Pro Bold';
      font-size: 1.25rem;
      text-transform: uppercase; }
    .services__item-text {
      opacity: .8; }

/* Раздел "Шаги к идеальному дизайну" */
.steps {
  margin-top: 140px; }
  .steps__title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 180px; }
    .steps__title-line {
      margin-bottom: 2.6rem;
      width: 25%; }
    .steps__title-caption {
      width: 21%; }
  .steps__item {
    position: relative;
    margin-bottom: 120px;
    border-radius: 10px;
    padding: 30px 40px;
    background: linear-gradient(to bottom, #f1995d, #f9ca46);
    color: #fff;
    box-shadow: -5px 20px 40px rgba(0, 0, 0, 0.15); }
    .steps__item:hover .steps__item-number {
      padding-bottom: 10px; }
    .steps__item-wrap {
      display: flex;
      align-items: stretch; }
    .steps__item-number {
      position: absolute;
      z-index: -1;
      right: -18px;
      display: block;
      bottom: calc(100% - 50px);
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      transition-property: padding-bottom; }
    .steps__item-head {
      font-family: 'Gotham Pro Bold';
      font-size: 1.25rem;
      text-transform: uppercase; }
    .steps__item-text {
      opacity: .8; }

/* Раздел "Презентация" */
.presentation {
  position: relative;
  margin-top: -150px;
  margin-bottom: 30px;
  padding-top: 170px;
  padding-bottom: 320px;
  background-image: url(../../img/presentation-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }
  .presentation__title-head, .presentation__title-subhead {
    font-size: 3.125rem; }
  .presentation__text {
    font-size: 1.1111rem; }
  .presentation__btn {
    margin-top: 50px; }
  .presentation__manager {
    margin-top: 80px;
    margin-right: 50px;
    text-align: right; }
    .presentation__manager-name {
      margin-bottom: 10px;
      font-family: 'Gotham Pro Medium';
      letter-spacing: .3em;
      text-transform: uppercase; }
    .presentation__manager-surname {
      margin-right: -0.3rem;
      color: #f1995d; }
    .presentation__manager-desc {
      opacity: .8; }

/* Раздел "Контакты" */
.contacts__title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 160px; }
  .contacts__title-number {
    margin-right: 20px;
    margin-left: -35px; }

.contacts__item {
  position: relative;
  margin-bottom: 100px;
  padding-left: 30px; }
  .contacts__item:before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 10px;
    height: 80px;
    background: linear-gradient(to right, #f9ca46, #f1995d);
    content: ""; }
  .contacts__item--download:before {
    top: -7px;
    height: 100px; }
  .contacts__item--feedback:before {
    top: -15px; }
  .contacts__item-head {
    margin-bottom: 10px;
    font-family: 'Gotham Pro Bold';
    font-size: 1.2222rem;
    text-transform: uppercase; }
  .contacts__item-text, .contacts__item-link {
    font-size: 1.111rem; }
  .contacts__item-link {
    display: block;
    text-decoration: underline; }

.contacts__feedback {
  margin-top: 40px; }
  .contacts__feedback-input {
    margin-bottom: 35px; }
  .contacts__feedback-btn {
    margin-bottom: 30px;
    width: 290px; }
  .contacts__feedback-agreement {
    display: flex;
    align-items: flex-start;
    font-size: .7777rem;
    line-height: 1.5em; }
    .contacts__feedback-agreement .checkbox {
      margin-right: 15px; }

/* Пузырьки */
.bubble {
  position: absolute;
  border-radius: 100%;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s; }
  .bubble_1 {
    z-index: 100;
    height: 100px;
    width: 100px;
    background: #57c4e1 linear-gradient(to right, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    animation-name: move-bubble-1; }
  .bubble_2 {
    height: 20px;
    width: 20px;
    background: #57c4e1 linear-gradient(to bottom, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    animation-name: move-bubble-2; }
  .bubble_3 {
    z-index: 102;
    height: 160px;
    width: 160px;
    background: #57c4e1 linear-gradient(to left, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 3px 0 10px 0 #57c4e1, -3px 0 10px 0 #2780ee;
    animation-name: move-bubble-3; }
  .bubble_4 {
    height: 15px;
    width: 15px;
    background: #57c4e1 linear-gradient(to right, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    animation-name: move-bubble-4; }
  .bubble_5 {
    height: 20px;
    width: 20px;
    background: #57c4e1 linear-gradient(to right, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    animation-name: move-bubble-5; }
  .bubble_6 {
    height: 120px;
    width: 120px;
    background: #57c4e1 linear-gradient(to right, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    animation-name: move-bubble-6; }
  .bubble_7 {
    height: 30px;
    width: 30px;
    background: #57c4e1 linear-gradient(to left, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    animation-name: move-bubble-7;
    animation-duration: 1s; }
  .bubble_8 {
    height: 40px;
    width: 40px;
    background: #57c4e1 linear-gradient(to right, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    animation-name: move-bubble-8;
    animation-duration: 1s; }
  .bubble_9 {
    height: 250px;
    width: 250px;
    background: #57c4e1 linear-gradient(to bottom, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 -10px 10px 0 #57c4e1, 0 5px 10px 0 #2780ee;
    animation-name: move-bubble-9; }
  .bubble_10 {
    height: 20px;
    width: 20px;
    background: #57c4e1 linear-gradient(to left, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    animation-name: move-bubble-10; }
  .bubble_11 {
    height: 90px;
    width: 90px;
    background: #57c4e1 linear-gradient(to right, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    animation-name: move-bubble-11; }
  .bubble_12 {
    height: 200px;
    width: 200px;
    background: #57c4e1 linear-gradient(to bottom, #57c4e1 0%, #4cabeb 50%, #2780ee 100%);
    box-shadow: 0 -10px 10px 0 #57c4e1, 0 5px 10px 0 #2780ee;
    animation-name: move-bubble-12; }

/* Секции страницы */
.section .section__title-number img {
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-property: transform; }

.section:hover .section__title-number img {
  transform: rotateY(360deg); }

/* Блок с загрузочным изображением */
.block-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; }
  .block-loading_hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; }
  .block-loading__picture {
    width: 150px;
    height: 150px;
    background-image: url("../../img/logo.svg");
    background-size: cover; }

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 100%;
  cursor: pointer; }
  .checkbox_active .checkbox__point {
    visibility: visible; }
  .checkbox:active {
    border-color: #777; }
  .checkbox__point {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: 1px solid #f1995d;
    background-color: #f1995d;
    visibility: hidden; }

/* Всплывающая подсказка */
.tooltip {
  position: absolute;
  top: -50px;
  left: 20px;
  opacity: 0;
  visibility: hidden; }
  .tooltip .tooltip__container {
    padding: 5px 20px;
    width: 150px;
    border-radius: 6px;
    background: #f1995d linear-gradient(to bottom, #f1995d, #f9ca46); }
  .tooltip .tooltip__text {
    font-size: 0.9rem;
    color: #fff; }
  .tooltip .tooltip__triangle {
    position: relative;
    left: 15px;
    width: 10px;
    border: 5px solid transparent;
    border-top: 8px solid #f9ca46; }
